body {
    background: url(imagens/WhatsApp-Hintergrund1.png);
}

.audiowide {
    font-family: 'Audiowide';
}

.panel_default {
    border: 1px solid #FFFFFF;
    height: 600px;
    width: 400px;
}

.opacity-nav {
    background-color: rgba(0, 0, 0, 0.7);
}



nav a {
    color: #FFFFFF;
}

h1#logo {
    font-family: 'Bad Script';
    display: inline;
    color: #FFFFFF;
    font-size: 18pt;
}


.icon-bar {
    background-color: #FFF; !important;
}

.navbar .navbar-collapse  {
    text-align: center;
}

/* SCROOL */

.menu-fixo {
    background-color: #2897d4;
}



.menu-fixo h1#logo {
    font-family: 'Bad Script';
    display: inline;
    color: #72bb53;
    font-size: 18pt;
    
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}







h2 {
    font-family: 'Audiowide';
    display: inline;
    color: #ff0000;
}

.logo {
    margin-top: 2px;
}

.botao-sign {
    font-family: 'ROBOTO';
    color: white;
    background: #b02a2a;
    margin-top: 7px;
    border-radius: 5px;
}

.box-apresentacao {
    background-image: url("imagens/WhatsApp-Hintergrund1.png")
}

/* LOGIN SIDEBAR E CADASTRO */

.sidebar_login {
	
	margin-top: 50px;
	position:fixed;
	width: 300px;
	margin-left: 0px;
	overflow: hidden;
	height: 900px;
	
	background-color: rgba(6,90,130,0.6);
	transition: all 0.3s ease-in-out;
	
}

.fa-times {
	
	right: 10px;
	top: 10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.3s ease-in-out;
}

.fa-times:hover {
	opacity: 1;
	
}
.boxed-item {
	font-family: "Open Sans",Arial,sans-serif;
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px #0da4eb;
	color: #1ae1ff;
	box-sizing: border-box;
	margin-top: 30px;
	text-align: center;
	
	
}
.sidebar_login h6 {
color: #1ae1ff;;
}

.hide_menu {
	margin-left: -300px;
}

.opacity_one {
	opacity: 1;
}

/** Primeira sessão */

.primeira-sessao {
	
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    background-image: url("../imagens/Palestra_ibc.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}


/* Fim primeira sessão **/


/** Eventos index **/

.eventos-index {
	
    background-color: #eff7fc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 60px;
}

.eventos-index .buscar {
    margin-top: -25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center center;
    text-align: center;
    align-items: center;
    
    width: 300px;
}

.eventos-index img {
    width: 200px;
    margin: 10px;
}


/** FIM eventos index **/

#sobre-nos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #2897d4;
    width: 100%;
    padding: 15px;
    text-align: center;
    align-items: center;
}

#sobre-nos h2 {
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}


/**** Footer ****/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #a6aaad;
    background-color: #363636;
}

.redesocial {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}

footer a img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    opacity: 0.3;
    transition: 0.5s;
    margin: 2px;
}

footer a img:hover {
    height: 40px;
    opacity: 1.0;
}


/* FIM Footer */


/* MEDIA QUERY PARA TABLETE */

@media only screen and (min-width: 768px) {
    .eventos-index {
        flex-direction: row;
        justify-content: space-around;
    }
    .eventos-index img {
        width: 170px;
    }
    
   .eventos-index .buscar {
  
    
    width: 450px;
}

    
    
    
}
